.player_form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 25px;
    background: #fff;
    border-radius: 50px;
}

.player_form p {
    font-size: 1.5em;
}